* {
  font-family: "Sora", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.Alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #212529;
  border: solid #000 2px;
  padding: 5px;
  gap: 5px;
  margin: 6px;
  width: 100%;
  cursor: pointer;
}

.Alert:hover {
  border: solid red 2px;
  padding-top: -4px;
}

.AlertButtonContainer {
  padding-left: 5px;
}

.AlertsContainer {
  position: fixed;
  overflow: auto;
  bottom: 0;
  gap: 5px;
  padding: 25px;
  width: 100%;
  max-height: 850px;
}

.AlertsButton {
  color: #000;
  background-color: rgb(168, 1, 1);
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.AlertsButton:hover {
  background-color: rgb(199, 61, 61) !important;
  border: 2px solid black !important;
  color: #000 !important;
}

.AlertsButtonNone {
  color: #000 !important;
  background-color: #bd7171 !important;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.AlertDescription {
  font-size: smaller;
  padding: 10px;
  color: white;
}

.AlertHeadlineTitle {
  font-weight: bold;
  color: white;
}

.AppLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.bg-myColor {
  color: black;
}

.BackgroundClear {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.5); /* Tint color */
  background-blend-mode: darken;
  background-image: url("./images/Clear.jpg");
}

.BackgroundCloudy {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.5); /* Tint color */
  background-blend-mode: darken;
  background-image: url("./images/Cloudy.jpg");
}

.BackgroundDarkClouds {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.5); /* Tint color */
  background-blend-mode: darken;
  background-image: url("./images/DarkClouds.jpg");
}

.BackgroundDefault {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.5);
  background-blend-mode: darken;
  background-image: url("./images/defaultWeather.jpg");
}

.BackgroundFog {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.5); /* Tint color */
  background-blend-mode: darken;
  background-image: url("./images/Fog.png");
}

.BackgroundRain {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.5); /* Tint color */
  background-blend-mode: darken;
  background-image: url("./images/Rain.jpg");
}

.BackgroundSnow {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.5); /* Tint color */
  background-blend-mode: darken;
  background-image: url("./images/Snow.jpg");
}

.BackgroundSunny {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.5); /* Tint color */
  background-blend-mode: darken;
  background-image: url("./images/Sunny.jpg");
}

.BackgroundThunder {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.5); /* Tint color */
  background-blend-mode: darken;
  background-image: url("./images/Thunder.jpg");
}

.bg-myColor {
  background-color: #141414;
}

.btn:hover {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn:focus {
  outline: none !important;
  outline-offset: none !important;
  background-color: none !important;
}

.ConditionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 13px;
}

.ConditionsContainerMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.Container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.ConditionStats {
  list-style-type: none;
  color: white;
}

.ConditionTitle {
  padding-left: 20px;
  font-weight: bold;
  list-style-type: none;
  color: white;
}

.Date {
  font-weight: bold;
  color: white;
}

.DayContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.DegreesMain {
  display: flex;
  padding-top: 5px;
  font-size: 25px;
  color: white;
}

.FCToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: left center;
  border-radius: 2em;
  margin-left: 2px;
  margin-bottom: 0.25em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.form-check-input:checked {
  background-color: #31d2f2;
}

.FCToggleText {
  margin-bottom: 0;
  color: white;
  margin-right: 3;
  font-weight: bold;
}

.FeelsLike {
  font-weight: lighter;
}

.ForecastsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
}

.ForecastDegreesMax {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  padding-top: 1px;
  color: red;
}

.ForecastDegreesMin {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  padding-top: 1px;
  color: white;
}

.ForecastMaxTemperature {
  font-size: 16px;
  color: red;
}

.ForecastMinTemperature {
  font-size: 16px;
  color: white;
}

.ForecastMinMaxTempContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.form-control {
  border: 2px solid black;
  width: 200px;
}

.form-control:hover {
  border: 2px solid #0dcaf0;
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.Instruction {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.Justify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  padding: 15px;
  margin-bottom: 85px;
}

.Location {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: white;
}

.MinMaxTempContainer {
  display: flex;
  align-items: flex-start;
  gap: 9px;
}

.MaxTemperature {
  color: red;
  font-size: 16px;
}

.MinTemperature {
  font-size: 16px;
  color: white;
}

.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Precipitation {
  color: white;
}

.PrecipitationContainer {
  display: flex;
  justify-content: space-evenly;
  width: 98px;
  font-size: 14px;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Spinner1 {
  animation-delay: 0.3s;
}
.Spinner2 {
  animation-delay: 0.2s;
}

.TemperatureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Tint {
  background-color: rgba(31, 31, 31, 0.5);
  height: 100%;
}

.TodayContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  margin: auto;
  border-radius: 15px;
}

.TodayCondition {
  color: white;
}

.TodayTemperature {
  font-size: 50px;
  color: white;
}

.TodayWeatherImage {
  width: 100px;
}

.ToggleFCButton {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  background-color: #0dcaf0;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ToggleHeaderFCButton {
  font-weight: bold;
  width: 40px;
}

.tooltip-arrow {
  z-index: -5;
}

.tooltip-inner {
  background-color: white;
  color: #000;
  border-radius: 15px;
}
/* Animations */

/* Bounce */
.bouncy {
  animation: bouncy 3s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Grow */
.hvr-grow {
  display: flex;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Fade in */
.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Bounce To Left */
.hvr-bounce-to-left {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 15px;
}
.hvr-bounce-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 180, 204);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 15px;
}
.hvr-bounce-to-left:hover,
.hvr-bounce-to-left:focus,
.hvr-bounce-to-left:active {
  color: white;
  border-radius: 15px;
}
.hvr-bounce-to-left:hover:before,
.hvr-bounce-to-left:focus:before,
.hvr-bounce-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  border-radius: 15px;
}

/* SLIDE */
.slide {
  position: relative;
  left: -1000px;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
  width: 100%;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
